.container { /* Задаём свойства элементов HTML-класса «контейнер» */
    display: grid; /* Режим отображения меняем на «сетку» */
}
.container {
    border: 2px solid rgb(80, 145, 27); /* Обводим зелёной линией */
    border-radius: 5px; /* Скругляем углы на 5 пикселей */
}
.container * {
    border: 1px dashed; /* Обводим чёрным пунктиром */
    border-radius: 10px; /* Скругляем углы на 10 пикселей */
    background-color: rgba(82, 29, 179, 0.5); /* Фон красим фиолетовым */
    text-align: center; /* Контент размещаем в центре по горизонтали */
}
.container {
    display: grid;
    grid-template-columns: 30% 100px 70%;
}
.container {
    display: grid;
    grid-template-columns: 1fr 100px 2fr;
}
.container {
    display: grid;
    grid-template-rows: 3fr 2fr 2fr 1fr;
}
.A { grid-area: 1 / 1 / 3 / 3; }
.B { grid-area: 1 / 3 / 3 / 5; }
.C { grid-column: 1 / 5;
     grid-row: 4 / 6}

.container {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(5, 1fr) ;
}

.container_task {
    display: grid;
    grid-template-columns: 1fr 100px 2fr;
    grid-template: repeat(1, 1fr) / repeat(5, 1fr) ;
}
.D { grid-area: 1 / 1 / 2 / 1; }