{% load static %}
{% csrf_token %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<body>
    <div class="container">
        <div class="A">
            <button onclick="window.location='{% url 'download' %}'">Загрузить</button>
        </div>
        <div class="B">
            <button onclick="window.location='{% url 'download' %}'">Загрузить</button>
        </div>
        <div class="C">
            {% for s in object_list %}
            <p>№ {{ s.task_id }}</p>
            <p>Дата: {{ s.date }}</p>
            <p>Загружено / отсканировано файлов: {{ s.len_files }} / {{ s.progress }}</p>
        <br/>
            {% for f in s.scans %}
                <p><a href="{{ f.file }}">{{ f.title }}</a></p>
                <p><img src="{{ f.cover }}" width="100" height="100"></p>
                <p>{{ f.object_builbing }}</p>
                {% endfor %}
            <br/>
        {% endfor %}
        <br/>
        </div>
    </div>
</body>